:root{
    --tarheel: rgb(50, 136, 186);
}

.menu{
    height: 160px;
    width: auto;
    background-color:rgb(130, 174, 200);
    padding: 20px;
}

#author{
    font-weight: bolder;
    text-align: center;
    font-family: optima;
    font-size: 30px;
    border-style: solid;
    border-radius: 100px;
    width: 300px;
    background-color: rgb(251, 251, 255);
    padding: 8px;
}

nav {
    margin-right: 20px;
    margin-top:50px;    
    text-align: right;    
    font-family: Optima;    
    font-size: 20px;
}

nav a {
    display: inline-block;    
    margin-left: 25px;
    margin-top: -70px;
    text-decoration: none;
    border-style: solid;
    font-family: Optima;
    border-color:black;
    color: var(--tarheel);
    height: auto;
    width: auto;
    text-decoration: none;
    font-size: 25px;
    padding: 8px;
    background-color: white;
}
nav a:hover{
    background-color:black;
    font-weight: bolder;
}

.headers{
    border-style: solid;
    border-radius: 100px;
    width: 120px;
    padding: 8px;
    font-family: Optima;
    font-size: 22px;
    margin-top:8px;
    margin-left: 90px;
    text-align: center;
    background-color: white;
}

.content{
    height: auto;
    background-color: rgb(203, 202, 198);
    border-style: solid;  
}

#soccer{
    display: inline-block;
    margin-top: 8px;
}

.aboutMe{
    font-family: Optima;
    font-size: 18px;
    padding: 8px;
    line-height: 1cm;

    
}

#work{
    font-family: Optima;
    font-size: 18px;
    padding: 8px;
    line-height: 1cm;
    
}

#SPA{
    height: 200px;
    width: 400px;
    font-family: optima;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 16px;

}


#SPA:hover{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg');
    background-position: center;
    background-size:300px;
    opacity: .7;
    cursor: pointer;
    font-weight: bolder;
    font-family: Optima;
    height:200px;
}

#CSC{
    height: 200px;
    width: 400px;
    font-family: optima;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#CSC:hover{
    background-image: url('https://assets-global.website-files.com/60e615980cab093e6f2db3c3/60f1c685e1930d349901bcbc_GettyImages-1172685336.jpeg');
    background-position: center;
    background-size:360px;
    opacity: .7;
    cursor: pointer;
    font-weight: bolder;
    font-family: Optima;
    height:200px;

}

#contactMe{
    height:200px;
}


#cellBox{
    margin-top: 20px;

}
.numbers{
    border-style: solid;
    font-family: Optima;
    border-color:black;
    color: rgb(50, 136, 186);
    height: auto;
    width: auto;
    text-decoration: none;
    font-size: 25px;
    padding: 8px;
    background-color: white;
    
}

.numbers:hover{
    background-color: black;
    font-weight: bolder;
}


@media screen and (max-width: 992px){
    .menu{
        background-color: rgb(177, 157, 203)
    }
    nav a{
        color: rgb(148, 126, 178);
    }
    .numbers{
        color: rgb(148, 126, 178);
    }
    
}





